* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    padding:20px;

}

body div {
    /* border:2px solid blue; */
    height: 400px;
    font-size: 20px;
    box-shadow: 2px 3px 3px 3px grey;
    line-height: 35px;
    padding:20px

}

input {
    padding: 3px;
    width: 270px;
    font-size: 15px;
}
button{
    padding:5px 15px;
    color: white;
    background-color: green;
    margin-top: 20px;
}
span{
    color:red;
    font-size: 15px;
}